<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/index2.css">
  <title>Trial 1</title>
</head>
<body>
  <div class="row header">
    <img src="menu-button.png" height="40px" width="40px" class="col-md-1">
    <h1 class="col-md-4">Putting it all together</h1>
    <div class="col-md-7"></div>
  </div>

    <button type="button" class="next-page" onclick="()=>console.log('redirect to next page')">
      <img src="coursesButtons-03.png" alt="next page">
    </button>
</body>
</html>
