<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/index8.css">
  <title>Trial 8</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <img id="menu-button" src="menu-button.png"
           class="col-xs-2 pull-left">
      <h1 class="col-xs-8 col-xs-offset-2"><strong>What's this section about?</strong></h1>
    </div>
    <br>
    <br>
    <br>

    <div class="row paperback">
      <p class="col-xs-12 list">In this bit we’ll take a good look at the
following questions:</p>
      <ul class="col-xs-12">
        <div class="list-items">
          <li>What is branding?</li>
        </div>
        <div class="list-items">
          <li>What is the difference between branding and marketing?</li>
        </div>
        <div class="list-items">
          <li>What impacts do brands have on companies and their customers?</li>
        </div>
      </ul>
    </div>

    <div class="row">
      <button type="button"
              class="prev-page col-xs-2">
        <img src="coursesButtons-04.png" alt="next page">
      </button>
      <div class="progress col-xs-6 col-xs-offset-2">
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
      </div>
      <button type="button"
              class="next-page col-xs-2">
        <img src="coursesButtons-03.png" alt="next page">
      </button>
    </div>
  </div>
</body>
</html>
