<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/index7.css">
  <title>Trial 7</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <img id="menu-button" src="menu-button.png"
           class="col-xs-2 pull-left">
      <h1 class="col-xs-8 col-xs-offset-2"><strong>What's this section about?</strong></h1>
    </div>
    <br><br><br>

    <div class="row paperback tab-content">
      <div id="owned" class="tab-pane fade in active">
        <p class="col-xs-12 list"><strong><em>Owned</em></strong> media is media you own (the clue’s in the
  name!). It’s media that you have complete control
  over. These channels are great for sustaining
  longer-term relationships with customers.
  Examples include: company websites, customer
  databases, social media channels (Instagram,
  Facebook, Snapchat, Twitter, Pinterest, LinkedIn)
  and retail stores (window displays, point of sale
  displays and staff uniforms).</p>
      </div>
      <div id="earned" class="tab-pane fade">
        <p class="col-xs-12 list"><strong><em>Earned</em></strong> media is media you own (the clue’s in the
  name!). It’s media that you have complete control
  over. These channels are great for sustaining
  longer-term relationships with customers.
  Examples include: company websites, customer
  databases, social media channels (Instagram,
  Facebook, Snapchat, Twitter, Pinterest, LinkedIn)
  and retail stores (window displays, point of sale
  displays and staff uniforms).</p>
      </div>
      <div id="paid" class="tab-pane fade">
        <p class="col-xs-12 list"><strong><em>Paid</em></strong> media is media you own (the clue’s in the
  name!). It’s media that you have complete control
  over. These channels are great for sustaining
  longer-term relationships with customers.
  Examples include: company websites, customer
  databases, social media channels (Instagram,
  Facebook, Snapchat, Twitter, Pinterest, LinkedIn)
  and retail stores (window displays, point of sale
  displays and staff uniforms).</p>
      </div>
      <div id="borrowed" class="tab-pane fade">
        <p class="col-xs-12 list"><strong><em>Borrowed</em></strong> media is media you own (the clue’s in the
  name!). It’s media that you have complete control
  over. These channels are great for sustaining
  longer-term relationships with customers.
  Examples include: company websites, customer
  databases, social media channels (Instagram,
  Facebook, Snapchat, Twitter, Pinterest, LinkedIn)
  and retail stores (window displays, point of sale
  displays and staff uniforms).</p>
      </div>

    </div>
    <div class="row tab-buttons">
      <ul class="nav nav-pills">
        <li class="col-xs-5 tab-button">
          Owned<a href="#owned" data-toggle="pill"></a>
        </li>
        <li class="col-xs-5 tab-button">
          Earned<a href="#earned" data-toggle="pill"></a>
        </li>
        <li class="col-xs-5 tab-button">
          Paid<a href="#paid" data-toggle="pill"></a>
        </li>
        <li class="col-xs-5 tab-button">
          Borrowed<a href="#borrowed" data-toggle="pill"></a>
        </li>
      </ul>
    </div>
    <div class="row">
      <button type="button"
              class="prev-page col-xs-2">
        <img src="coursesButtons-04.png" alt="next page">
      </button>
      <div class="progress col-xs-6 col-xs-offset-2">
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
      </div>
      <button type="button"
              class="next-page col-xs-2">
        <img src="coursesButtons-03.png" alt="next page">
      </button>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
