<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/index7.css">
  <title>Trial 7</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <img id="menu-button" src="menu-button.png"
           class="col-xs-2 pull-left">
      <h1 class="col-xs-8 col-xs-offset-2"><strong>What's this section about?</strong></h1>
    </div>
    <br><br><br>

    <div class="row paperback">
      <p class="col-xs-12 list">Owned media is media you own (the clue’s in the
name!). It’s media that you have complete control
over. These channels are great for sustaining
longer-term relationships with customers.
Examples include: company websites, customer
databases, social media channels (Instagram,
Facebook, Snapchat, Twitter, Pinterest, LinkedIn)
and retail stores (window displays, point of sale
displays and staff uniforms).</p>
    </div>
    <div class="row tab-buttons">
      <p class="col-xs-6 tab-button">
        Earned
      </p>
      <p class="col-xs-6 tab-button">
        Owned
      </p>
      <p class="col-xs-6 tab-button">
        Paid
      </p>
      <p class="col-xs-6 tab-button">
        Borrowed
      </p>
    </div>
    <div class="row">
      <button type="button"
              class="prev-page col-xs-2">
        <img src="coursesButtons-04.png" alt="next page">
      </button>
      <div class="progress col-xs-6 col-xs-offset-2">
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
      </div>
      <button type="button"
              class="next-page col-xs-2">
        <img src="coursesButtons-03.png" alt="next page">
      </button>
    </div>
  </div>
</body>
</html>
