<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/index8.css">
  <title>Trial 8</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <img id="menu-button" src="menu-button.png"
           class="col-xs-2 pull-left">
      <h1 class="col-xs-8 col-xs-offset-2"><strong>Communication strategy</strong></h1>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <p class="col-xs-12">You absolutely need to have an overarching
strategy for your brand – one with specific tactics
for each channel.</p>
      <p class="col-xs-12">Let’s look at NapChat’s communication strategy.</p>
    </div>

    <div class="row paperback">
      <div id="slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#slider" data-slide-to="1" class="active"></li>
          <li data-target="#slider" data-slide-to="2"></li>
          <li data-target="#slider" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <h6>Slider 1</h6>
            <p>We’ve got a high quality service
              that’s unique compared to our
              competitors. And it’s all thanks to our
              simplified (and patented) process for
              capturing, editing and sharing
              videos.</p>
              <img src="/branding1.png" alt="slider image 1">
          </div>
          <div class="item">
            <h6>Slider 2</h6>
            <p>League of Ipsum dolor sit amet ADC ulti red buff
              ADC double buffs baron ignite face check warding
              solo queue auto-attack ignite dragon bronze last hit
              ult dragon golems kite.</p>
              <img src="https://placekitten.com/200/300" alt="slider image 1">
          </div>
          <div class="item">
            <h6>Slider 3</h6>
            <p>League of Ipsum dolor sit amet ADC ulti red buff
              ADC double buffs baron ignite face check warding
              solo queue auto-attack ignite dragon bronze last hit
              ult dragon golems kite.</p>
              <img src="https://placekitten.com/200/300" alt="slider image 1">
          </div>
        </div>
        <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#slider" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="row">
      <button type="button"
              class="prev-page col-xs-2">
        <img src="coursesButtons-04.png" alt="next page">
      </button>
      <div class="progress col-xs-6 col-xs-offset-2">
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
      </div>
      <button type="button"
              class="next-page col-xs-2">
        <img src="coursesButtons-03.png" alt="next page">
      </button>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
