<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/index9.css">
  <title>Trial 9</title>
</head>
<body>
  <div class="container view">
    <div class="row">
      <img id="menu-button" src="menu-button.png"
           class="col-xs-2 pull-left">
      <h1 class="col-xs-8 col-xs-offset-2"><strong>Putting it all together</strong></h1>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <p class="col-xs-10 col-xs-offset-1">Now work out what your communications
        calendar should look like – i.e. what are you going
        to do and when? Tap the months and enter what
        you plan to do (keep it relevant - we don’t need to
        know your next dental appointment!).
      </p>
    </div>
    <div class="row">
      <button type="button"
              class="btn btn-info btn-lg col-xs-2 col-xs-offset-1 month-pop-up"
              data-toggle="modal"
              data-target="#Jan">Jan</button>
      <button type="button"
              class="btn btn-info btn-lg col-xs-2 col-xs-offset-1 month-pop-up"
              data-toggle="modal"
              data-target="#Feb">Feb</button>
      <button type="button"
              class="btn btn-info btn-lg col-xs-2 col-xs-offset-1 month-pop-up"
              data-toggle="modal"
              data-target="#Mar">Mar</button>
      <button type="button"
              class="btn btn-info btn-lg col-xs-2 col-xs-offset-1 month-pop-up"
              data-toggle="modal"
              data-target="#Apr">Apr</button>
      <button type="button"
              class="btn btn-info btn-lg col-xs-2 col-xs-offset-1 month-pop-up"
              data-toggle="modal"
              data-target="#May">May</button>
      <button type="button"
              class="btn btn-info btn-lg col-xs-2 col-xs-offset-1 month-pop-up"
              data-toggle="modal"
              data-target="#Jun">Jun</button>
      <button type="button"
              class="btn btn-info btn-lg col-xs-2 col-xs-offset-1 month-pop-up"
              data-toggle="modal"
              data-target="#Jul">Jul</button>
      <button type="button"
              class="btn btn-info btn-lg col-xs-2 col-xs-offset-1 month-pop-up"
              data-toggle="modal"
              data-target="#Aug">Aug</button>
      <button type="button"
              class="btn btn-info btn-lg col-xs-2 col-xs-offset-1 month-pop-up"
              data-toggle="modal"
              data-target="#Sep">Sep</button>
      <button type="button"
              class="btn btn-info btn-lg col-xs-2 col-xs-offset-1 month-pop-up"
              data-toggle="modal"
              data-target="#Oct">Oct</button>
      <button type="button"
              class="btn btn-info btn-lg col-xs-2 col-xs-offset-1 month-pop-up"
              data-toggle="modal"
              data-target="#Nov">Nov</button>
      <button type="button"
              class="btn btn-info btn-lg col-xs-2 col-xs-offset-1 month-pop-up"
              data-toggle="modal"
              data-target="#Dec">Dec</button>
    </div>

    <div id="Jan" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <p>In January, I plan to:</p>
          </div>
          <div class="modal-body">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div id="Feb" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <p>In February, I plan to:</p>
          </div>
          <div class="modal-body">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div id="Mar" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <p>In March, I plan to:</p>
          </div>
          <div class="modal-body">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div id="Apr" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <p>In April, I plan to:</p>
          </div>
          <div class="modal-body">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div id="May" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <p>In May, I plan to:</p>
          </div>
          <div class="modal-body">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div id="Jun" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <p>In June, I plan to:</p>
          </div>
          <div class="modal-body">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div id="Jul" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <p>In July, I plan to:</p>
          </div>
          <div class="modal-body">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div id="Aug" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <p>In August, I plan to:</p>
          </div>
          <div class="modal-body">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div id="Sep" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <p>In September, I plan to:</p>
          </div>
          <div class="modal-body">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div id="Oct" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <p>In October, I plan to:</p>
          </div>
          <div class="modal-body">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div id="Nov" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <p>In November, I plan to:</p>
          </div>
          <div class="modal-body">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div id="Dec" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <p>In December, I plan to:</p>
          </div>
          <div class="modal-body">
            <input type="text">
          </div>
        </div>
      </div>
    </div>

    </div>
    <div class="row">
      <button type="button"
              class="prev-page col-xs-2">
        <img src="coursesButtons-04.png" alt="next page">
      </button>
      <div class="progress col-xs-6 col-xs-offset-2">
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             style="width:25%"></div>
      </div>
      <button type="button"
              class="next-page col-xs-2">
        <img src="coursesButtons-03.png" alt="next page">
      </button>
    </div>
  </div>

<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
