li {
  list-style: url(../question-mark.png);
  margin: 3rem;
  padding-bottom: 5rem;
}

.paperback:after {
  content: "";
  background: url(../paper-back.jpg) 80%;
  opacity: 0.5;
  height: 70%;
  width: 100%;
  left: 0;
  z-index: -1;
  position: absolute;
}
