html, body {
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
  font-size: 5rem;
}

p {
  font-size: 5rem;
}

.next-page,
.prev-page,
.progress {
  bottom: 2em;
  position: absolute;
}

.next-page {
  right: 0;
  right: 2em;
}


.prev-page {
  left: 0;
  left: 2em;
}

#menu-button {
  height: 15%;
  width: 15%;
}

.modal-body, .modal-header {
  background-color: purple;
}
