li {
  list-style: none;
}

p {
  font-size: 3rem;
}

.next-page,
.prev-page,
.progress {  
  bottom: 0;
  position: absolute;
}

.next-page {
  right: 0;
}


.prev-page {
  left: 0;
}

#menu-button {
  height: 15%;
  width: 15%;
}